//item Page and Order Page is the same UI design
.category-name {
    display: flex;
    margin-left: 15px;
    .my-order{
        font-size: 25px;
        font-weight: 100;
        font-family: monospace;
        color: rgba(133, 126, 126, 0.668);
    }
}

.empty-order {
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    
    .icon {
        // flex: 1;
        width: 50%;
        margin: auto;
        font-size: larger;
        height: 150px;
        color: rgb(231, 225, 225);

    }
    .back-to-main-menu{
        // flex: 1;
        background-color:#f7906c;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50%;
        margin: auto;
        border-radius: 50px;
        color: white;
        font-size: larger;
        font-weight: bold;
        // margin: 10px;
        padding: 5px;

    }
    


}