.seats {
    // background-color: green;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    // justify-content: space-between;
    
    gap: 5px;

    
    .seat {
        flex: 1 1 200px;
        // flex-wrap: wrap;
        // width: 50%;
        height: 30px;
        // gap: 5px;
        // width: 130px;
       
        border-radius: 10px;
        color:white;
        background-color: #f7906c;
        // border: 1px solid red;
        text-align: center;
        cursor: progress;

        &:hover {
            background-color: rgb(179, 138, 138);
            
        }
    }
        //if user click to show the select seat when click 'Select Seats'
        .seat-selected {
            flex: 1 1 200px;
            // flex-wrap: wrap;
            // width: 50%;
            height: 30px;
            // gap: 5px;
            // width: 130px;
           
            border-radius: 10px;
            color:white;
            background-color: green;
            // border: 1px solid red;
            text-align: center;
            cursor: progress;
    
            
       

    }
}