.home {
    // display: flex;
    
    // background-color: red;
    .homeContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        margin: auto;
        position: relative;
        
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: auto;

        .back-button{
            display: none;
        }

       
 

        // 09 969 681 870 aung phyo wai 35
        .search {
            margin-bottom: 10px;
            margin-top: 10px;

            width: 60%;
            margin: auto;
            .search-bar{
                
                margin-left: 30px;
               
                input {
                    border: none;
                    outline: none;
                    width: 90%;
                    border-radius: 10px;
                    border: 1px solid rgba(247, 242, 242, 0.784);
                    padding: 6px;
        
                    &::placeholder{
                        font-size: 15px;
                    }
                }
                .search-icon {
                    background-color: white;
                    border-radius: 3px;
                    
                }
            }
        }
       

        
        
       }
       

        
    }

